.container-section-novedades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #B9B9B9;
    border-radius: 50px;
}

.container-novedades-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-novedades-title h4 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}