.price-container-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.price-span-normal {
    display: inline-flex;
    /* text-decoration: line-through; */
    color: #CD1F26;
}

.price-span-descuento {
    display: inline-flex;
    color: #001da0;
}

.el-wrapper:hover .cart .price-container-detail {
    display: none;
}

.container-ganancia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    color: #3479d2;
    /* border: solid 1px #3479d2; */
}

.price-span-ganancia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-ganancia {
    width: 70px;
    text-align: center;
    margin-right: 5%;
}

.button-ganancia {
    color: #3479d2;
    border-color: #3479d2;
}

.button-ganancia:hover, .button-ganancia:active {
    background-color: #3479d2;  
    border-color: #3479d2;
    color: #fff;
}